.fa-moon {
    margin-right: 50px;
    font-size: 28px;
}
/* ---- header ---- */
.header {
    margin-bottom: 48px;
}

.header-title {
    font-size: 80px;
    margin-top: 60px;
}

.accent-color {
    color: #49c1f4;
}

.header-navbar {
    margin-top: 38px;
    text-align: center;
    font-size: 0;
}

.nav-item {
    list-style-type: none;
    display: inline-block;
    font-size: 24px;
    padding: 26px 40px 19px 40px;
}
/* ---- end ---- */

/* ---- main ---- */
.main-container{
    display: flex;
    justify-content: space-between;
}

.sidebar{
    margin-right: 52px;
}

.sidebar-navbar{
    width: 350px;
}

.sidebar-item{
    font-size: 27px;
    font-weight: 400;
    padding: 27px;
}

.content-img-cap{
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin-bottom: 38px;
    transition: all .2s ease-in-out;
}

.content-text{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 34px;
}
/* ---- end ---- */

/* ---- footer ---- */
.footer-navbar {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}
.footer-list{
    padding: 20px 40px;
    font-size: 0;
}

.footer-item {
    font-size: 28px;
    line-height: 28px;
    list-style-type: none;
    display: inline-block;
}

.footer-link{
    padding-left: 15px;
}

.footer-copyright{
    vertical-align: top;
    font-size: 24px;
    margin: auto;
}
/* ---- end ---- */

/* ---- hover ---- */
.sidebar-item:hover{
    padding-left: 40px;
}

.footer-link:hover{
    text-decoration: underline;
}
/* ---- end ---- */