body {
    background: #111;
    perspective: 200px;
    overflow: hidden;
}

.container {
    width: 500px;

    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;

    color: #fcd000;
    margin: 0 auto;

    transform: rotateX(30deg);
    animation: animation 30s linear infinite;
}

.title,
.subtitle {
    display: block;
    width: 100%;
    text-align: center;
}

.title,
.subtitle,
p {
    margin: 0 0 10px 0;
}

@keyframes animation {
    0% {
        transform: rotateX(30deg) translateY(400px);
    }
    100% {
        transform: rotateX(30deg) translateY(-300px);
    }
}
