.container {
    width: 1280px;
    margin: 20px auto;
}

.header{
    margin-bottom: 48px;
}

.header-title {
    font-size: 80px;
    margin-top: 60px;
}

.accent-color {
    color: #49c1f4;
}

.header-navbar {
    margin-top: 38px;
    background-color: #34424d;
    text-align: center;
    font-size: 0;
}

.header-item {
    list-style-type: none;
    display: inline-block;
    font-size: 24px;
    padding: 26px 40px 19px 40px;
    border-left: 1px solid #fff;
}

.header-item:last-child {
    border-right: 1px solid #fff;
}

.header-link {
    color: #fff;
}

.main-container{
    display: flex;
    justify-content: space-between;
}


.sidebar{
    margin-right: 52px;
}

.sidebar-navbar{
    width: 350px;
}

.sidebar-list{
    border: 1px solid #000
}

.sidebar-item{
    font-size: 27px;
    font-weight: 400;
    padding: 27px;
}

.content-img-cap{
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 38px;
    transition: all .2s ease-in-out;
}

.content-text{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 34px;
}

.footer-navbar {
    background-color: #abafb1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}
.footer-list{
    padding: 20px 40px;
}

.footer-item {
    font-size: 28px;
    line-height: 28px;

    list-style-type: none;
    display: inline-block;
}

.footer-link{
    color: #0C1927;
    padding-left: 15px;
}

.footer-copyright{
    color: #0C1927;
    vertical-align: top;
    font-size: 24px;
    margin: auto;
}

.header-item:hover{
    background-color: #222e39;
}

.sidebar-item:hover{
    background-color: #d2d2d2;
    padding-left: 40px;
}

.footer-link:hover{
    text-decoration: underline;
    color: #307c9e;
}