.container {
    width: 1280px;
    margin: 20px auto;
    background-color: #34424d;
    color: #fff;
}

.fa-moon {
    color: #fff;
}

/* ---- header ---- */
.logo-link {
    color: #fff;
}

.header-navbar {
    background-color: #fff;
}

.nav-item {
    border-left: 1px solid #34424d;
}

.nav-item:last-child {
    border-right: 1px solid #34424d;
}

.nav-link {
    color: #34424d;
}

/* ---- end ---- */

/* ---- main ---- */
.sidebar-list {
    border: 1px solid #fff;
}

.sidebar-link {
    color: #fff;
}

.content-img-cap {
    border-color: #fff;
}

.content-text {
    color: #fff;
}

/* ---- end ---- */

/* ---- footer ---- */
.footer-navbar {
    background-color: #0C1927;
}

.footer-link {
    color: #abafb1;
}

.footer-copyright {
    color: #abafb1;
}

/* ---- end ---- */

/* ---- hover ---- */
.nav-item:hover {
    background-color: #5d7e9c;
}

/**/
.sidebar-item:hover {
    background-color: rgb(39, 43, 69);
}

.footer-link:hover {
    color: #307c9e;
}

/* ---- end ---- */

