.container {
    width: 1280px;
    margin: 20px auto;
}

.fa-moon {
    color: #34424d;
}
/* ---- header ---- */
.logo-link {
    color: #34424d;
}

.header-navbar {
    background-color: #34424d;
}

.nav-item{
    border-left: 1px solid #fff;
}

.nav-item:last-child {
    border-right: 1px solid #fff;
}

.nav-link {
    color: #fff;
}
/* ---- end ---- */

/* ---- main ---- */
.sidebar-list {
    border: 1px solid #34424d;
}

.sidebar-link {
    color: #34424d;
}

.content-img-cap {
    border-color: #000;
}
/* ---- end ---- */

/* ---- footer ---- */
.footer-navbar {
    background-color: #abafb1;
}

.footer-link {
    color: #0C1927;
}

.footer-copyright {
    color: #0C1927;
}
/* ---- end ---- */

/* ---- hover ---- */
.nav-item:hover {
    background-color: #222e39;
}

.sidebar-item:hover {
    background-color: #d2d2d2;
}

.footer-link:hover {
    color: #307c9e;
}
/* ---- end ---- */