.bg {
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 79px;

    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 18px 0;
    color: #FFFFFF;

    transition: color 0.2s;
}

.nav {
    display: flex;
    align-items: center;
}

.far {
    color: #fff;
    width: 21px;
    height: 24px;
    font-size: 24px;
    transition: color 0.2s;
}

.fa-envelope-open {
    margin: 0 24px;
}

.header-icons {
    padding: 18px 0;
    font-size: 0;
}

.delimiter {
    border: none;
    background: rgba(255, 255, 255, 0.9);
    width: 1px;
    height: 19px;
    margin: 20px 27px;
}


.welcome,
.welcome-link {
    vertical-align: bottom;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;
    padding: 18px 0;
    transition: color 0.2s;
}

.logo:hover,
.far:hover,
.welcome-link:hover {
    color: #3CB878;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form {
    width: 444px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    margin-top: 54px;
    margin-bottom: 74px;
    position: relative;
}

.content {
    width: 324px;
    margin-right: auto;
    margin-left: auto;
}

.authorization {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 15px;
}

.sign-up {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    color: #434343;
}

.sign-up::before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.log-in {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    color: #3CB878;
    transition: color 0.2s, text-decoration 0.2s;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.btn {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.fab {
    font-size: 24px;
    margin: 12px 17px;
    color: #fff;
}

.btn-delimiter {
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    border: 0;
    margin: 0;
}

.btn-title {
    margin: 17px 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
}

.facebook-login {
    background-color: #305DB8;
    margin-right: 4px;
    transition: background-color 0.6s;

}

.facebook-login:hover {
    background-color: #022263;
}

.google-login {
    background: #DF4A32;
    transition: background-color 0.6s;
}

.google-login:hover {
    background-color: #AB1F09;
}

.or-delimiter {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #848484;
}

.or-delimiter::after,
.or-delimiter::before {
    content: '';
    height: 1px;
    background-color: #F2F2F2;
    flex-grow: 1;
    margin: 0 2px;
}

.create-acc {
    width: 324px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 99px;

    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    margin-top: 20px;
    margin-bottom: 38px;
    transition: background-color 0.6s;
}

.create-acc:hover {
    background-color: #01813F;
}

.f-name,
.l-name,
.email,
.password-choose,
.password-confirm {
    width: 324px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;

    padding: 14px 0 16px 20px;
    margin: 7.5px 0;

    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.f-name:focus,
.l-name:focus,
.email:focus,
.password-choose:focus,
.password-confirm:focus {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: none;
}

.f-name {
    margin-top: 11px;
}

.password-confirm {
    margin-bottom: 12px;
}

.terms {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;


    color: #434343;
}

.terms-link {
    color: rgb(60, 184, 120);
    transition: color 0.2s, text-decoration 0.2s;
}

.log-in:hover,
.terms-link:hover {
    color: #01813F;
    text-decoration: underline;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    display: none;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    left: 4px;
    top: 5px;
    width: 13px;
    height: 7px;
    border-radius: 1px;
    border-left: 2px solid #01813F;
    border-bottom: 2px solid #01813F;
    transform: rotate(-50deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
