.page-body {
    background-image: url(../images/background.jpg);
}

.container {
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    margin-bottom: 17px;
}

.logo {
    display: flex;
    width: 180px;
    height: 100%;
}

.logo > .logo-img-orange {
    display: none;
}

.logo:hover > .logo-img-white {
    display: none;
}

.logo:hover > .logo-img-orange {
    display: inline;
}

.logo-title {
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;

    padding-left: 8px;
}

.logo-title:first-child {
    font-size: 29px;
    line-height: 29px;
}

.logo-title:last-child {
    font-size: 18px;
    line-height: 18px;
}

.logo:hover > .logo-title,
.contact-email:hover,
.contact-phone:hover,
.tour-link:hover > .tour-title {
    color: #F26522;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact-email,
.contact-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: right;

    color: #FFFFFF;
}

.contact-email {
    padding-bottom: 19px;
}

.content {
    padding-bottom: 48px;
}

.tour-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 58px;
    padding: 0;
    margin: 0;
}

.tour-item {
    position: relative;
}

.tour-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}


.tour-item {
    position: relative;
}

.tour-img {
    width: 304px;
    height: 220px;
    object-fit: cover;
    border: 2px solid transparent;
    border-image: linear-gradient(-125deg, #fff 5%, #000 95%);
    border-image-slice: 1;
}

.tour-description {
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;

    position: absolute;
    background-color: #F26522;
    width: 100%;
    bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: #fff;
}

.tour-description-price-block {
    justify-self: start;
    padding: 7px 0 12px 16px;
    text-align: left;
}

.tour-description-title {
    font-size: 10px;
    line-height: 10px;
}

.tour-description-price {
    font-size: 20px;
    line-height: 20px;
    margin: 8px 0 0;
}

.tour-description-details {
    font-size: 14px;
    line-height: 14px;
    align-self: flex-end;
    margin: 29px 16px 12px;
}

.tour-description-details::after {
    content: ">";
    margin-left: 16px;
}

.tour-link:hover > .tour-description {
    transform: scaleY(1);
}

.footer {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

