body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.navbar {
    text-align: center;
}

.link {
    color: #ff0000;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-item {
    padding: 20px;
    list-style: none;
    display: inline-block;
}

.container {
    text-align: center;
    width: 70%;
    margin: auto;
}

.page-header {
    font-weight: 700;
    text-transform: uppercase;
}

.logo-img {
    height: 50%;
    width: 100%;
}

p{
    letter-spacing: 3px
}

.btn {
    color: white;
    background-color: red;
    border: 0;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    padding: 20px;
    width: 200px;
}

.footer{
   text-align: right;
    width: 70%;
    margin: auto;
    padding: 20px;
    font-weight: 700;
}